<h1>All Post</h1>



<table class="table table-borderd">
    <thead>
        <tr>
            <th>Id</th>
             <th>Image</th>
            <th>Title</th>
            <th>Status</th>
            <th>Allow Comments</th>
            <th>Category</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <td>{{id}}</td>
             <td> <img height="50px" class="img-responsive" src="/uploads/{{file}}" alt=""> </td>
            <td>{{title}}</td>
            <td>{{status}}</td>
            <td>{{allowComments}}</td>
             <td>{{category.name}}</td>
            <td>{{generateTime date 'MMMM Do YYYY'}}</td>
            <td><a href="/api/admin/posts/edit/{{id}}" class="btn btn-info">Edit</a></td>
                <td>
                    <form action="/api/admin/posts/{{id}}?_method=DELETE" method="POST">
                <BUtton type="submit" class="btn btn-danger">DELETE</BUtton>
            </form>
                </td>
            
        </tr>
        {{/each}}
    </tbody>

</table>